<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LOGFILENAME" value="Logs\LogFile\Log.txt"/>
    <add key="ERRORLOGFILENAME" value="Logs\ErrorLogFile\Log.txt"/>
    <add key="NEWFILEPATH" value="Queue\New"/>
    <add key="PROCESSEDFILEPATH" value="Queue\Processed"/>
    <add key="ERRORFILEPATH" value="Queue\Error"/>
    <add key="ERRORRETRYINTERVAL" value="15000"/>
    <add key="ERRORRETRYMAX" value="5"/>
    <add key="NOTIFICATIONHANDLERPATH" value="Handlers"/>
  </appSettings>
</configuration>