<?xml version="1.0"?>
<configuration>
  <!-- Define the custom configuration sections... -->
  <configSections>
    <section name="EmailMappingSection" type="Flow.Responder.Plugins.Default.EmailMappingConfiguration, Flow.Responder.Plugins.Default"/>
  </configSections>

  <appSettings>
    <add key="TemplateFilePath" value="Templates"/>
    <add key="SMTPServer" value="mail.yourserver.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUsername" value="your.email@yourserver.com"/>
    <add key="SMTPPassword" value="yourpassword"/>
    <add key="SMTPSSLEnabled" value="True"/>
    <add key="SMTPTimeout" value="10"/>
  </appSettings>

  <EmailMappingSection>
    <EmailMappings>
      <add EventID="Default Message" EmailAddresses="emaillist1@yourserver.com" ReplyToAddress="replytoemail@yourserver.com" ReplyToName="TM1 Message Service" TemplateFilename="Default_Template.txt" SendHTML="true" />
      <add EventID="TM1 Process Error" EmailAddresses="emaillist2@yourserver.com" ReplyToAddress="replytoemail@yourserver.com" ReplyToName="TM1 Message Service" TemplateFilename="Basic_Message_Template.txt" SendHTML="true" />
    </EmailMappings>
  </EmailMappingSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
